{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended",
    "plugin:lodash-fp/recommended"
  ],
  "plugins": [
    "flowtype",
    "lodash-fp"
  ],
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "no-use-before-define": ["error", {"functions": false}],
    "object-curly-spacing": ["error", "never"],
    "lodash-fp/no-extraneous-args": 0,
    "func-names": 0
  }
}
