{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "no-use-before-define": ["error", {"functions": false}],
    "object-curly-spacing": ["error", "never"]
  }
}
