/** @define Results; use strict */

@import "suitcss-utils-layout";
@import "./profile-card.css";

.Results {}

.Results-item {
  padding-bottom: 1.25rem;
}

.Results-message {
  text-align: center;
  margin-bottom: .9375rem;
}

@media (--sm-viewport) {
  .Results-item {
    float: left;
    width: 50%;
  }
}

@media (--md-viewport) {
  .Results-item {
    width: 25%;
  }
}
