/** @define Profile; use strict */

@import "suitcss-utils-layout";
@import "./stat.css";
@import "./profile-stat-group.css";
@import "../utils/img.css";

.Profile {
  text-align: center;
  position: relative;
}

.Profile-avatarImg {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  border: 2px solid #fff;
}

.Profile-userItem {
  margin-bottom: .1875rem;
}

.Profile-userItem:empty {
  margin-bottom: 0;
}

.Profile-name {
  font-size: 1.8rem;
  margin-bottom: .5rem;
}

.Profile-userInfo {
  color: #777;
}

.Profile-wrapProfileStatGroup {
  margin-top: 15px;
}

.Profile-link {
  color: inherit;
}

@media (--sm-viewport) {
  .Profile {
    text-align: left;
  }

  .Profile-avatar {
    float: left;
    margin-right: .625rem;
  }

  .Profile-body {
    float: left;
  }
}