/** @define ProfileCard; use strict */

@import "suitcss-utils-layout";
@import "suitcss-utils-text";
@import "suitcss-utils-link";

.ProfileCard {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
}

.ProfileCard-link {
  padding: .625rem;
  display: block;
  color: #333;
}

.ProfileCard-link:hover {
  color: inherit;
}

.ProfileCard-username {
  overflow: hidden;
  margin-top: .5rem;
  font-size: 1.125rem;
  font-weight: 500;
}

.ProfileCard-avatar {
  border-radius: 50%;
  border: 1px solid #999;
  display: block;
  float: left;
  margin-right: .625rem;
}
