/** @define ProfileCard; use strict */

@import "suitcss-utils-layout";
@import "suitcss-utils-text";
@import "suitcss-utils-link";

.ProfileCard {
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f2f2f2;
  transition: background-color .2s ease;
}

.ProfileCard:hover {
  background-color: #e6e6e6;
}

.ProfileCard:hover .ProfileCard-avatar {
  opacity: 1;
}

.ProfileCard-link {
  padding: .625rem;
  display: block;
  color: #333;
}

.ProfileCard-link:hover {
  color: inherit;
}

.ProfileCard-username {
  overflow: hidden;
  margin-top: .5rem;
  font-size: 1.125rem;
  font-weight: 500;
}

.ProfileCard-avatar {
  border-radius: 50%;
  opacity: .8;
  transition: opacity .2s ease;;
  border: 1px solid #999;
  display: block;
  float: left;
  margin-right: .625rem;
}
