/** @define Repo; use strict */

@import "suitcss-utils-link";
@import "suitcss-utils-text";

.Repo {
  position: relative;
  min-height: 65px;
}

.Repo-name {
  margin-bottom: .3125rem;
}

.Repo-description {
  font-size: .9375rem;
  max-width: 85%;
}

.Repo-wrapStat {
  position: absolute;
  top: 25%;
  right: 10px;
}

.Repo-link {
  padding: .625rem;
  border-radius: 5px;
  transition: background-color .2s ease;
  color: inherit;
}

.Repo-link:hover {
  background-color: #f4f4f4;
}
