/** @define RepoList; use strict */

@import "./repo.css";

.RepoList-item {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px dotted #ddd;
}

.RepoList-item:last-child {
  border-bottom: none;
}