/** @define Results; use strict */

@import "suitcss-utils-layout";
@import "./profile-card.css";

.Results-item {
  margin-bottom: 1.5%;
}

@media (min-width: 28.125em) {
  .Results-item {
    float: left;
  }
}

@media (min-width: 28.125em) and (max-width: 48em) {
  .Results-item {
    width: 49%;
    margin-right: 1.5%;
  }

  .Results-item:nth-child(2n) {
    margin-right: 0;
  }
}

/* 3 col */
@media (min-width: 48em) and (max-width: 67em) {
  .Results-item {
    width: 32.6%;
    margin-right: 1%;
    margin-bottom: 1%;
  }

  .Results-item:nth-child(3n) {
    margin-right: 0;
  }
}

/* 4 col */
@media (min-width: 67em) {
  .Results-item {
    width: 24.25%;
    margin-right: 1%;
    margin-bottom: 1%;
  }

  .Results-item:nth-child(4n) {
    margin-right: 0;
  }
}