/** @define SearchForm; use strict */

@import "./button.css";
@import "suitcss-utils-size";
@import "../utils/space.css";

.SearchForm {
  padding-bottom: 1.25rem;
}

.SearchForm-title {
  margin-bottom: .625rem;
  text-align: center;
  font-size: 1.6rem;
}

.SearchForm-input {
  width: calc(100% - 84px);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}

.SearchForm-btn {
  width: 48px;
  height: 48px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}