/** @define Search; use strict */

@import "suitcss-utils-size";
@import "./results.css";
@import "./searchform.css";
@import "./results-message.css";
@import "./pagination.css";
@import "../utils/space.css";

.Search {
  padding: 1.25rem 0;
}

.Search-item {
  margin-bottom: 1.5rem;
}

.Search-item:last-child {
  margin-bottom: 0;
}

.Search-wrapSearchForm {
  border-bottom: 1px solid #ddd;
}