/** @define Stat; use strict */

.Stat {
  text-align: center;
}

.Stat--large .Stat-value {
  font-size: 1.375rem;
}

.Stat-value {
  display: block;
}

.Stat-title {
  display: block;
  font-size: .75em;
}