/** @define UserDetail; use strict */

@import "suitcss-utils-display";
@import "suitcss-components-grid";
@import "suitcss-utils-size";
@import "./profile.css";
@import "./repo-list.css";

.UserDetail-item {
  margin-bottom: 1.5rem;
}

.UserDetail-header {
  padding-top: 1.25rem;
  padding-bottom: 1rem;
  background-color: #f2f2f2;
  margin-bottom: 1rem;
}

.UserDetail-itemHeader {
  margin-bottom: 1rem;
}

@media (--sm-viewport) {
  .UserDetail-header {
    height: 170px;
    padding-bottom: 0;
    margin-bottom: 3rem;
  }
}